@model IEnumerable<Bookshop.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tytul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImieAutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NazwiskoAutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gatunek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RokWydania)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Okladka)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tytul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImieAutor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NazwiskoAutor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gatunek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RokWydania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
                <td>
                    <img src="@Url.Content("~/booksjpg/" + item.Okladka)" alt="taniaksiazka.pl" />
                </td>
                

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
